<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [14]:
import pandas as pd
import numpy as np
import os

In [15]:
txt=r'../OccupantBehaviorEnvironmentData/data/ORIGINAL_DATA.txt'

In [16]:
df = pd.read_csv(txt, sep=r'\s{1,}', engine='python', header=None)

In [17]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,735080.000000,1.0,0.0,0.0,NaN,24.584695,63.517,0.030988,24.584695,NaN,...,0.0,NaN,1.0,1.0,2.0,4.0,2.0,2.0,4.0,-0.270899
1,735080.010417,1.0,0.0,0.0,NaN,24.584695,63.704,0.030988,24.584695,NaN,...,0.0,NaN,1.0,1.0,2.0,4.0,2.0,2.0,4.0,-0.269505

In [18]:
df.to_csv('../OccupantBehaviorEnvironmentData/data/ORIGINAL_DATA.csv', sep='/')

In [19]:
df.columns = ['0_time','0_occupant_nb','0_occupancy_1','0_occupancy_2','0_survey_time',
              '1_in_temp','1_in_hum','1_in_air_vel','1_in_rad_temp','1_in_lum','1_in_co2','1_out_temp','1_out_hum','1_out_air_vel',
              '2_met_rate_15min','2_met_rate_60min','2_clth_level','2_clth_level_wtchair','2_min_acc_sen','2_med_acc_sen',
              '2_max_acc_sen','2_min_acc','2_med_acc','2_max_acc','2_therm_pref','2_gender','2_age','2_off_type','2_floor_nb',
              '2_loc_floor','2_min_acc_sen_sum','2_min_acc_sen_win','2_med_acc_sen_sum','2_med_acc_sen_win','2_max_acc_sen_sum',
              '2_max_acc_sen_win',
              '3_gen_th_cmf','3_th_cmf_mvmt','3_dcmf_head','3_dcmf_chest','3_dcmf_back','3_dcmf_pelvis','3_dcmf_arms',
              '3_dcmf_hands','3_dcmf_legs','3_dcmf_feet','3_dcmf_all','3_th_sen','3_th_sen_mvmt','3_rel_busy',
              '3_rel_product','3_gen_satisf_wspace','3_gen_satisf_wpriv','3_gen_th_cmft','3_gen_satisf_wcontrol',
              '4_fan_heat_class','4_state_fan_heat','4_state_window','4_crt_th_cool_spt','4_base_th_cool_spt',
              '4_crt_th_heat_spt','4_base_th_heat_spt','4_clth_change','4_clth_change_up','4_clth_change_down','4_net_clth_change',
              '4_drinking','4_pp_cold_drink','4_pp_warm_drink','4_act_window','4_state_window','4_when_act_window','4_act_door',
              '4_state_door','4_when_act_door','4_act_blinds','4_state_blinds','4_when_act_blinds','4_act_lc_fan','4_state_lc_fan',
              '4_when_act_lc_fan','4_act_lc_heater','4_state_lc_heater','4_when_act_lc_heater','4_act_thermostat','4_state_thermostat',
              '4_when_act_thermostat','4_rsn_no_window','4_rsn_no_door','4_rsn_no_blinds','4_rsn_no_lc_fan','4_rsn_no_lc_heater',
              '4_rsn_no_thermostat','4_avail_clth','4_avail_drinks','4_avail_lc_heater','4_avail_lc_fan','4_avail_thermostat',
              '4_avail_window','4_avail_door','4_avail_blinds','4_eff_clth','4_eff_drinks','4_eff_lc_heater','4_eff_lc_fan',
              '4_eff_thermostat','4_eff_window','4_eff_door','4_eff_blinds','4_report_dcmft',
              '5_pt_prod','5_pt_cmft_pleas','5_pt_wish','5_pt_others','5_pt_nrg_eff','5_pt_mgmt','5_pt_typ',
              '6_pmv']

In [20]:
df.head(2)

,0_time,0_occupant_nb,0_occupancy_1,0_occupancy_2,0_survey_time,1_in_temp,1_in_hum,1_in_air_vel,1_in_rad_temp,1_in_lum,...,4_eff_blinds,4_report_dcmft,5_pt_prod,5_pt_cmft_pleas,5_pt_wish,5_pt_others,5_pt_nrg_eff,5_pt_mgmt,5_pt_typ,6_pmv
0,735080.000000,1.0,0.0,0.0,NaN,24.584695,63.517,0.030988,24.584695,NaN,...,0.0,NaN,1.0,1.0,2.0,4.0,2.0,2.0,4.0,-0.270899
1,735080.010417,1.0,0.0,0.0,NaN,24.584695,63.704,0.030988,24.584695,NaN,...,0.0,NaN,1.0,1.0,2.0,4.0,2.0,2.0,4.0,-0.269505

In [21]:
df.to_csv('../OccupantBehaviorEnvironmentData/data/Data_ColNamed.csv', sep='/')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840984 entries, 0 to 840983
Columns: 118 entries, 0_time to 6_pmv
dtypes: float64(118)
memory usage: 757.1 MB

In [27]:
df.describe()

,0_time,0_occupant_nb,0_occupancy_1,0_occupancy_2,0_survey_time,1_in_temp,1_in_hum,1_in_air_vel,1_in_rad_temp,1_in_lum,...,4_eff_blinds,4_report_dcmft,5_pt_prod,5_pt_cmft_pleas,5_pt_wish,5_pt_others,5_pt_nrg_eff,5_pt_mgmt,5_pt_typ,6_pmv
count,840984.000000,840984.000000,840984.000000,840984.000000,2497.000000,775458.000000,840984.000000,840984.000000,775458.000000,131288.000000,...,788604.000000,874.000000,755444.000000,755444.000000,755444.000000,755444.000000,755444.000000,755444.000000,755444.000000,749751.000000
mean,735262.500000,12.500000,0.228208,0.037568,1.971165,22.643550,36.298591,0.027971,22.631670,82.715198,...,3.075007,0.010297,2.809364,2.973146,2.255238,3.664608,2.622385,3.117883,3.214074,-0.473796
std,105.369493,6.922191,0.419677,0.190149,0.811556,1.816115,13.820629,0.009337,1.829641,276.479743,...,1.872584,0.111777,1.840917,1.938195,1.795422,1.640850,1.884583,2.140577,1.775176,0.562146
min,735080.000000,1.000000,0.000000,0.000000,1.000000,11.223889,11.249000,0.000000,11.223889,11.840301,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.227323
25%,735171.250000,6.750000,0.000000,0.000000,1.000000,21.693903,25.213000,0.025908,21.671303,11.840301,...,1.000000,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,1.000000,2.000000,-0.815767
50%,735262.499999,12.500000,0.000000,0.000000,2.000000,22.823889,31.015500,0.026924,22.806852,19.375038,...,4.000000,0.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,4.000000,-0.442999
75%,735353.749999,18.250000,0.000000,0.000000,3.000000,23.737222,49.237000,0.026924,23.742222,82.882107,...,4.000000,0.000000,5.000000,5.000000,3.000000,5.000000,4.000000,5.000000,4.000000,-0.113624
max,735444.999999,24.000000,1.000000,1.000000,3.000000,32.338997,85.554000,0.491236,32.338997,16883.192835,...,6.000000,2.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.259042

In [33]:
df['0_occupant_nb']

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
840979    24.0
840980    24.0
840981    24.0
840982    24.0
840983    24.0
Name: 0_occupant_nb, Length: 840984, dtype: float64